<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="commov.safecity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:requestLegacyExternalStorage="true"
        android:name=".roomNotes.NotesApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeCity">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity android:name=".MainActivity"
            android:theme="@style/WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="commov.safecity.Home"/>
        <activity android:name="commov.safecity.Notes"/>
        <activity android:name="commov.safecity.InsertNote"/>
        <activity android:name="commov.safecity.EditNote"/>
        <activity android:name="commov.safecity.Login"/>
        <activity android:name="commov.safecity.InsertAnomaly"/>
        <activity android:name="commov.safecity.VisualizeAnomaly"/>
    </application>
</manifest>